{% extends 'base.html' %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">강원도</h1>

        <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'area' %}">Area</a>
        </li>
        <li class="breadcrumb-item active">Gangwon-do</li>
        </ol>

        <div class="row">
            {% for gangwon in gangwons.all %}
            <div class="col-md-7">
                <a href="{% url 'gangwon_detail' gangwon.id %}">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="{{ gangwon.image_one.url }}" width="620" height="400">
                </a>
            </div>
            <div class="col-md-5">
                <h3>{{ gangwon.title }}<span style="font-weight: bold; font-size: x-large; color: #FFA500;">&nbsp;{{ gangwon.rating }}</span></h3>
                <a style="color: #D5D4D4;">{{ gangwon.division }}</a>
                <p>{{ gangwon.summary }}</p>
                <p><hr>주소 : {{ gangwon.address }}<br>
                        전화번호 : {{ gangwon.call }}<br>
                        주차 : {{ gangwon.park }}<br>
                        영업시간 : {{ gangwon.hours }}<br>
                        입장료 : {{ gangwon.price }}</p>
                <a class="btn btn-primary" href="#">더 보기
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <p><br><br></p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}