{% extends 'base.html' %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">미술관</h1>

        <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'tag' %}">Tag</a>
        </li>
        <li class="breadcrumb-item active">Art</li>
        </ol>

        <div class="row">
            {% for art in arts.all %}
            <div class="col-md-7">
                <a href="{% url 'artdetail' art.id %}">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="{{ art.image_one.url }}" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>{{ art.title }}<span style="font-weight: bold; font-size: x-large; color: #FFA500;">&nbsp;{{ art.rating }}</span></h3>
                <a style="color: #D5D4D4;">{{ art.division }}</a>
                <p>{{ art.summary }}...</p>
                <p><hr>주소 : {{ art.address }}<br>
                        전화번호 : {{ art.call }}<br>
                        주차 : {{ art.park }}<br>
                        영업시간 : {{ art.hours }}<br>
                        입장료 : {{ art.price }}</p>
                <a class="btn btn-primary" href="#">더 보기
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <p><br><br></p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}