{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href='{% static "blog/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href='{% static "blog/css/modern-business.css" %}' rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Chicken POP</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/introduce">Introduce</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tag">Tag</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recomendation
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="/recommendation1">인기 순위</a>
              <a class="dropdown-item" href="/recommendation2">지역별 추천</a>
              <a class="dropdown-item" href="/recommendation3">에디터 추천</a>
              <a class="dropdown-item" href="/recommendation4">맞춤형 추천</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              {% if request.session.user %}
                <a class="dropdown-item" href="/users/logout">Logout</a>
              {% else %}
                <a class="dropdown-item" href="/users/login">Login</a>
                <a class="dropdown-item" href="/users/register/">Sign up</a>
              {% endif %}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">강원도</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'index' %}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/recommendation2">Area</a>
      </li>
      <li class="breadcrumb-item active">강원도</li>
    </ol>

    <!-- Project One -->
    <div class="row">
      <div class="col-md-7">
        <a href="/area6_1">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static "blog/img/arealist/six/01.jpg" %}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>1. DMZ 박물관<span style="font-weight: bold; font-size: x-large; color: #FFA500;">&nbsp;4.0</span></h3>
        <a style="color: #D5D4D4;">강원도 고성군 현내면 통일전망대로 369 DMZ 박물관</a>
        <p>세계냉전의 유산인 비무장지대(DMZ)를 주제로 6. 25전쟁 전후의 모습, 정전협정으로 생긴 군사분계선과 DMZ가 갖는 역사적인 의미 이후 지속되었던 군사충돌 그 동안 민간인의 손길이 닿지 않은 독특한 생태환경 등을 전시물과 영상으로 재구성하여 DMZ박물관에 담겨있다.</p>
        <p><hr>주소 : 강원도 고성군 현내면 통일전망대로 369 DMZ 박물관<br>
                  전화번호 : 033-681-0625<br>
                  주차 : 주차장(무료주차)<br>
                  영업시간 : 09:00 ~ 18:00<br>
                  입장료 : 3000원</p>
        <a class="btn btn-primary" href="/area6_1">더 보기
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
      <div class="col-md-7">
        <a href="/area6_2">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static "blog/img/arealist/six/02.jpg" %}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>2. 설악산 국립공원<span style="font-weight: bold; font-size: x-large; color: #FFA500;">&nbsp;4.3</span></h3>
        <a style="color: #D5D4D4;">강원도 속초시 설악산로 833 KR</a>
        <p>계절마다 바뀌는 설악산의 아름다운 풍경을 보면서 등산을 할 수 있어요. 설악산 국립공원 입구에서 표지판을 따라 걸으면 6개의 짧은 폭포와 연못으로 이루어진 육담폭포를 만날 수 있어요. 육담폭포를 제대로 감상할 수 있는 출렁다리를 건넌 뒤 계속해서 계곡을 따라 이동하면 용의 전설이 얽힌 비룡폭포에 도착해요. 비룡폭포에서 떨어져 내려 맑은 계곡을 굽이쳐 흐르는 물을 보고 있으면 마음마저 깨끗해지는 기분이에요. 자연을 사랑하는 사람이라면 놓치지 마세요.</p>
        <p><hr>주소 : 강원도 속초시 설악산로 833 KR<br>
                전화번호 : 033-801-0900<br>
                주차 : 주차장(무료주차)<br>
                영업시간 : 04:00 ~ 12:00<br>
                입장료 : 성인 3500원, 청소년 1000원</p>
        <a class="btn btn-primary" href="/area6_2">더 보기
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
      <div class="col-md-7">
        <a href="/area6_3">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static "blog/img/arealist/six/03.jpg" %}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>3. 강릉 커피거리<span style="font-weight: bold; font-size: x-large; color: #FFA500;">&nbsp;4.0</span></h3>
        <a style="color: #D5D4D4;">강원도 강릉시 창해로 17 </a>
        <p>강릉하에서 안목 해맞이 공원으로 이어지는 길에 카페들이 들어서면서 커피거리가 활성되었다. 강릉에는 커피거리 외에도 커피 1세대라 불리는 커피명인과 커피공장, 커피박물관, 커피농장 등이 있어서 강릉커피축제도 열리고 있다.</p>
        <p><hr>주소 : 강원도 강릉시 창해로 17<br>
                전화번호 : 없음<br>
                주차 : 주차공간없음<br>
                영업시간 : 00:00 ~ 24:00<br>
                입장료 : 무료</p>
        <a class="btn btn-primary" href="/area6_3">더 보기
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Four -->
    <div class="row">

      <div class="col-md-7">
        <a href="/area6_4">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static "blog/img/arealist/six/04.jpg" %}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>4. 경포대<span style="font-weight: bold; font-size: x-large; color: #FFA500;">&nbsp;4.5</span></h3>
        <a style="color: #D5D4D4;">강원도 강릉시 경포동 경포로 365</a>
        <p>바닷길을 따라 경포대로 올라가면 큰 누각이 보인다. 상쾌한 풀향기와 호수바람을 맞으며 걸으면 그 자체가 힐링. 야간에는 주간과 달리 반짝이는 경포대의 불빛이 호수와 만나서 멋진 분위기를 이룬다.</p>
        <p><hr>주소 : 강원도 강릉시 경포동 경포로 365<br>
                전화번호 : 033-640-4471<br>
                주차 : 주차장(무료주차)<br>
                영업시간 : 11:00 ~ 03:00<br>
                입장료 : 무료</p>
        <a class="btn btn-primary" href="/area6_4">더 보기
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Five -->
    <div class="row">
      <div class="col-md-7">
        <a href="/area6_5">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static "blog/img/arealist/six/05.jpg" %}" width="800" height="400" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>5. 남이섬<span style="font-weight: bold; font-size: x-large; color: #FFA500;">&nbsp;4.1</span></h3>
        <a style="color: #D5D4D4;">강원도 춘천시 남산면 남이섬길 1</a>
        <p>자연에서 힐링하는 느낌. 배를 타고 10~15분정도 들어가면 나오는 작은자연섬. 길을 걸으며 동물이랑도 함께하는 느낌이 든다. 자전거를 타면서 섬을 돌아보고 중간중간 드라마 촬영지에서 사진을 찍는 것은 어떤가</p>
        <p><hr>주소 : 강원도 춘천시 남산면 남이섬길 1<br>
                전화번호 : 031-580-8114<br>
                주차 : 주차장(무료주차)<br>
                영업시간 : 07:30 ~ 21:45<br>
                입장료 : 13000원</p>
        <a class="btn btn-primary" href="/area6_5">더 보기
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Six -->
    <div class="row">
      <div class="col-md-7">
        <a href="/area6_6">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static "blog/img/arealist/six/06.jpg" %}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>6. 설악트릭미술관<span style="font-weight: bold; font-size: x-large; color: #FFA500;">&nbsp;4.2</span></h3>
        <a style="color: #D5D4D4;">대전광역시 유성구 구암동 424-29</a>
        <p>재미있는 사진을 찍을 수 있어 속초로 수학여행을 온 학생들 사이에서 특히 인기가 높은 설악트릭아트미술관은 아이들과 함께 오는 걸 추천해요. 그림에 맞춰 열심히 연기하며 사진을 찍다 보면 땀이 뻘뻘 나요. 다행히 설악트릭아트미술관이 있는 건물에는 일성콘도 온천이 있어 관람 후에는 사우나를 즐길 수도 있어요. 한곳에서 재미와 휴식을 함께 즐길 수 있어 추천해요.</p>
        <p><hr>주소 : 강원도 고성군 토성면 고성대로 47-24<br>
                전화번호 : 033-632-1311<br>
                주차 : 주차장(무료주차)<br>
                영업시간 : 09:00 ~ 20:00<br>
                입장료 : 9000원</p>
        <a class="btn btn-primary" href="/area6_6">더 보기
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/recommendation1">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/recommendation1_2">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src='{% static "blog/vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "blog/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

</body>

</html>