{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href='{% static "blog/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href='{% static "blog/css/modern-business.css" %}' rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Chicken POP</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/introduce">Introduce</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tag">Tag</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recomendation
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="/recommendation1">인기 순위</a>
              <a class="dropdown-item" href="/recommendation2">지역별 추천</a>
              <a class="dropdown-item" href="/recommendation3">에디터 추천</a>
              <a class="dropdown-item" href="/recommendation4">맞춤형 추천</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              {% if request.session.user %}
                <a class="dropdown-item" href="/users/logout">Logout</a>
              {% else %}
                <a class="dropdown-item" href="/users/login">Login</a>
                <a class="dropdown-item" href="/users/register/">Sign up</a>
              {% endif %}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">광주</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'index' %}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/recommendation2">Area</a>
      </li>
      <li class="breadcrumb-item active">광주</li>
    </ol>

    <!-- Project One -->
    <div class="row">
      <div class="col-md-7">
        <a href="/area4_1">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static "blog/img/arealist/four/01.jpg" %}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>1. 펭귄마을<span style="font-weight: bold; font-size: x-large; color: #FFA500;">&nbsp;3.8</span></h3>
        <a style="color: #D5D4D4;">광주광역시 남구 양림동 201-64</a>
        <p>골동품이 모여 예술마을이 된 이 곳은 다른 벽화마을들과는 달리, 마을 골목골목에 다양하고 오래된 건물들과 벽화, 글귀들로 독특하고 이색적인 분위기를 주고 옛 추억을 느낄 수 있는 곳이다.</p>
        <p><hr>주소 : 광주광역시 남구 양림동 201-64<br>
                전화번호 : 010-6402-2713<br>
                주차 : 주차장(무료주차)<br>
                영업시간 :  09:00 ~ 18:00<br>
                입장료 : 무료</p>
        <a class="btn btn-primary" href="/area4_1">더 보기
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
      <div class="col-md-7">
        <a href="/area4_2">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static "blog/img/arealist/four/02.jpg" %}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>2. 청춘발산마을<span style="font-weight: bold; font-size: x-large; color: #FFA500;">&nbsp;3.6</span></h3>
        <a style="color: #D5D4D4;">광주광역시 서구 양3동 천변좌로108번길 17-13</a>
        <p>빛고을 광주 서쪽 산어귀에 위치한 발산마을. 오랜 시간 사람들의 발길이 끊겨 시간이 멈춘 듯했던 이 마을이 몇 해전부터 청춘들의 움직임으로 활기를 띠기 시작했다. 마치 동화 속 세상으로 들어온 듯한 느낌의 마을로 발걸음이 닿는 곳마다 포토존</p>
        <p><hr>주소 : 광주광역시 서구 양3동 천변좌로108번길 17-13<br>
                전화번호 : 070-4910-0339<br>
                주차 : 주차장(무료주차)<br>
                영업시간 : 00:00 ~ 24:00<br>
                입장료 : 무료</p>
        <a class="btn btn-primary" href="/area4_2">더 보기
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
      <div class="col-md-7">
        <a href="/area4_3">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static "blog/img/arealist/four/03.jpg" %}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>3. 패밀리랜드<span style="font-weight: bold; font-size: x-large; color: #FFA500;">&nbsp;3.6</span></h3>
        <a style="color: #D5D4D4;">광주광역시 북구 우치로 677 우치공원 금호패밀리랜드</a>
        <p>재미있는 놀이기구도 타고 동물도 구경하고 아이들에게 체험할 수 있는 기회가 되는 곳. 또 밤에는 빛축제를 하기때문에 낮과 밤 어느때에 가셔도 좋은 추억을 남길 수 있다.</p>
        <p><hr>주소 : 광주광역시 북구 우치로 677 우치공원 금호패밀리랜드<br>
                전화번호 : 062-607-8000<br>
                주차 : 주차장(무료주차)<br>
                영업시간 : 평일 09:30 ~ 18:00, 주말 09:30 ~ 21:00<br>
                입장료 : 성인 25000원, 청소년 23000원, 어린이 19000원</p>
        <a class="btn btn-primary" href="/area4_3">더 보기
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Four -->
    <div class="row">

      <div class="col-md-7">
        <a href="/area4_4">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static "blog/img/arealist/four/04.jpg" %}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>4. 호수생태공원<span style="font-weight: bold; font-size: x-large; color: #FFA500;">&nbsp;4.4</span></h3>
        <a style="color: #D5D4D4;">광주광역시 북구 충효동 442-4</a>
        <p>자연생태학습장이자 광주 시민의 휴식공간, 산책하기에 정말 좋아 나들이코스로 안성맞춤</p>
        <p><hr>주소 : 광주광역시 북구 충효동 442-4<br>
                전화번호 : 062-613-7892<br>
                주차 : 주차장(무료주차)<br>
                영업시간 : 09:00 ~ 18:00<br>
                입장료 : 무료</p>
        <a class="btn btn-primary" href="/area4_4">더 보기
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Five -->
    <div class="row">
      <div class="col-md-7">
        <a href="/area4_5">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static "blog/img/arealist/four/05.jpg" %}" width="800" height="400" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>5. 사직공원 전망대<span style="font-weight: bold; font-size: x-large; color: #FFA500;">&nbsp;4.3</span></h3>
        <a style="color: #D5D4D4;">광주광역시 남구 양림동</a>
        <p>광주 시내를 한눈에 볼 수 있는 사직공원 전망대, 확 트인 전망으로 가슴이 뻥 뚤린다. 야간에는 예쁜 광주 시내의 야경을 볼 수 있다.</p>
        <p><hr>주소 : 광주광역시 남구 양림동<br>
                전화번호 : 062-652-3236<br>
                주차 : 주차장(무료주차)<br>
                영업시간 : 09:00 ~ 22:00<br>
                입장료 : 무료</p>
        <a class="btn btn-primary" href="/area4_5">더 보기
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Six -->
    <div class="row">
      <div class="col-md-7">
        <a href="/area4_6">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static "blog/img/arealist/four/01.jpg" %}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>6. 동명동 카페거리<span style="font-weight: bold; font-size: x-large; color: #FFA500;">&nbsp;4.1</span></h3>
        <a style="color: #D5D4D4;">광주광역시 동구 동명로25번길</a>
        <p>동명동 카페거리의 중심부에 위치하고 있는 스트럭트는 노출콘크리트가 인상적인 건물로, 안으로 들어가면 갈수록 인상적인 건축물들에 곳곳에 카페가 들어서 있다. 숨은 카페를 찾는 것도 그 매력</p>
        <p><hr>주소 : 광주광역시 동구 동명로25번길<br>
                전화번호 : 없음<br>
                주차 : 주차공간없음<br>
                영업시간 : 12:00 ~ 23:00<br>
                입장료 : 무료</p>
        <a class="btn btn-primary" href="/area4_6">더 보기
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/recommendation1">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/recommendation1_2">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src='{% static "blog/vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "blog/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

</body>

</html>