{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About
      <small>Chicken POP</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'home' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">Introduce</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{% static "img/introduce/01.jpg" %}" height="400" alt="">
      </div>
      <div class="col-lg-6">
        <h2>About Chicken POP</h2>
        <p>Chicken POP은 서비스를 사용하는 사용자들의 취향을 반영하여 맞춤형 장소에 대한 서비스를 제공하는 사이트이다</p>
        <p>기본적인 개발 목적으로는 현대 사회에서 방대한 양의 데이터가 존재함에 따라 사람들이 결정에 대한 어려움을 겪는 것을 문제점으로 파악하여 개발하게 되었으며</p>
        <p>장소를 중점으로 두어서 각기 다른 태그에 대한 장소 추천과 에디터의 직접적인 장소 추천 회원간의 맞춤형 추천 등의 서비스를 지원하고 있다.</p>
        <p>추가적으로 캘린더를 통한 일정(행사) 관리 기능 지역을 세분화하여서 장소에 대한 정보를 제공하는 서비스 등을 제공한다.</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static "img/introduce/hyoyeon.jpg" %}" height="200">
          <div class="card-body">
            <h4 class="card-title">김효연</h4>
            <h6 class="card-subtitle mb-2 text-muted">조장</h6>
            <p class="card-text"><hr>연락처: 010-4037-4448<br>역할: 프로젝트 관리 및 계획, 웹 구현<br>사용 언어: C, Python</p>
          </div>
          <div class="card-footer">
            <a href="#">lime17442@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static "img/introduce/kiwon.jpg" %}" height="200">
          <div class="card-body">
            <h4 class="card-title">김기원</h4>
            <h6 class="card-subtitle mb-2 text-muted">조원</h6>
            <p class="card-text"><hr>연락처: 010-4563-8116<br>역할: DB설계 및 기능 구현, 서비스 테스트<br>사용 언어: C, C++, Python</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->
{% endblock content %}