<!--소개 페이지-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href='{% static "blog/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href='{% static "blog/css/modern-business.css" %}' rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Chicken POP</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/introduce">Introduce</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tag">Tag</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recomendation
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="/recommendation1">인기 순위</a>
              <a class="dropdown-item" href="/recommendation2">지역별 추천</a>
              <a class="dropdown-item" href="/recommendation3">에디터 추천</a>
              <a class="dropdown-item" href="/recommendation4">맞춤형 추천</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              {% if request.session.user %}
                <a class="dropdown-item" href="/users/logout">Logout</a>
              {% else %}
                <a class="dropdown-item" href="/users/login">Login</a>
                <a class="dropdown-item" href="/users/register/">Sign up</a>
              {% endif %}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About
      <small>Chicken POP</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'index' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">Introduce</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{% static "blog/img/10.jpg" %}" height="400" alt="">
      </div>
      <div class="col-lg-6">
        <h2>About Chicken POP</h2>
        <p>Chicken POP은 서비스를 사용하는 사용자들의 취향을 반영하여 맞춤형 장소에 대한 서비스를 제공하는 사이트이다</p>
        <p>기본적인 개발 목적으로는 현대 사회에서 방대한 양의 데이터가 존재함에 따라 사람들이 결정에 대한 어려움을 겪는 것을 문제점으로 파악하여 개발하게 되었으며</p>
        <p>장소를 중점으로 두어서 각기 다른 태그에 대한 장소 추천과 에디터의 직접적인 장소 추천 회원간의 맞춤형 추천 등의 서비스를 지원하고 있다.</p>
        <p>추가적으로 캘린더를 통한 일정(행사) 관리 기능 지역을 세분화하여서 장소에 대한 정보를 제공하는 서비스 등을 제공한다.</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static "blog/img/11.jpg" %}" alt="">
          <div class="card-body">
            <h4 class="card-title">김효연</h4>
            <h6 class="card-subtitle mb-2 text-muted">조장</h6>
            <p class="card-text"><hr>연락처: 010-4037-4448<br>역할: 프로젝트 관리 및 계획, 웹 구현<br>사용 언어: C, Python</p>
          </div>
          <div class="card-footer">
            <a href="#">lime17442@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static "blog/img/12.jpg" %}" alt="">
          <div class="card-body">
            <h4 class="card-title">김기원</h4>
            <h6 class="card-subtitle mb-2 text-muted">조원</h6>
            <p class="card-text"><hr>연락처: 010-4563-8116<br>역할: DB설계 및 기능 구현, 서비스 테스트<br>사용 언어: C, C++, Python</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src='{% static "blog/vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "blog/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
  <script src='{% static "blog/vendor/bootstrap/js/bootstrap.min.js" %}'></script>

</body>

</html>
