{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href='{% static "blog/vendor/bootstrap/css/bootstrap.min.css"%}' rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href='{% static "blog/css/modern-business.css" %}' rel="stylesheet">

</head>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Chicken POP</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/introduce">Introduce</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tag">Tag</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recomendation
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="/recommendation1">인기 순위</a>
              <a class="dropdown-item" href="/recommendation2">지역별 추천</a>
              <a class="dropdown-item" href="/recommendation3">에디터 추천</a>
              <a class="dropdown-item" href="/recommendation4">맞춤형 추천</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              {% if request.session.user %}
                <a class="dropdown-item" href="/users/logout">Logout</a>
              {% else %}
                <a class="dropdown-item" href="/users/login">Login</a>
                <a class="dropdown-item" href="/users/register/">Sign up</a>
              {% endif %}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">지역별  
      <small>장소 선정</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'index' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">Area</li>
    </ol>

    <!-- Image Header -->
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="/area_list1"><img class="card-img-top" src="{% static "blog/img/arealist/01.PNG" %}" height="200" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="/area_list1">서울</a>
            </h4>
            <p class="card-text">대한민국의 대표 수도 서울 탐방<br>"가장 서울 다움을 잘 표현한 명소 탐구"</p>
          </div>
          <div class="card-footer">
            <a href="/area_list1" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="/area_list2"><img class="card-img-top" src="{% static "blog/img/arealist/02.PNG" %}" height="200" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="/area_list2">인천</a>
            </h4>
            <p class="card-text">차이나 타운 부터 일본 조계지까지<br>"인천 속에서 세계를 바라본다"</p>
          </div>
          <div class="card-footer">
            <a href="/area_list2" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="/area_list3"><img class="card-img-top" src="{% static "blog/img/arealist/03.PNG" %}" height="200" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="/area_list3">부산</a>
            </h4>
            <p class="card-text">여름의 대표 여행지 부산<br>"당일치기 코스로 부산 식도락 여행"</p>
          </div>
          <div class="card-footer">
            <a href="/area_list3" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="/area_list4"><img class="card-img-top" src="{% static "blog/img/arealist/04.PNG" %}" height="200" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="/area_list4">광주</a>
            </h4>
            <p class="card-text">문화 탐방부터 테마거리 즐기기 까지<br>"내가 모르는 광주 알아보기"</p>
          </div>
          <div class="card-footer">
            <a href="/area_list4" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="/area_list5"><img class="card-img-top" src="{% static "blog/img/arealist/05.PNG" %}" height="200" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="/area_list5">대전</a>
            </h4>
            <p class="card-text">성심당 튀김소보루 뿐만이 아니다<br>"현지인들만이 알고 있는 대구 숨은 명소"</p>
          </div>
          <div class="card-footer">
            <a href="/area_list5" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="/area_list6"><img class="card-img-top" src="{% static "blog/img/arealist/06.PNG" %}" height="200" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="/area_list6">강원도</a>
            </h4>
            <p class="card-text">산 과 바다 그리고 명소탐방<br>"정석적인 강원도 여행 코스 체험"</p>
          </div>
          <div class="card-footer">
            <a href="/area_list6" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src='{% static "blog/vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "blog/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
  <script src='{% static "blog/vendor/bootstrap/js/bootstrap.min.js" %}'></script>

</body>

</html>